h1
{
    color: #009688;
    font-size: 35px;
}

p
{
    color: #E64A19;
    font-size: 20px;
}

h
{
    color: #D50000;
    font-size: 30px;
}

html
{
    background-color: orangered;
}

body
{
    background-color: #FFFF00;
}

#eagle
{
  width:50%;
}

#india
{
  width:50%;
}
.book
{
  cursor: pointer;
}

.book hr
{
  margin-bottom: 10px;
}

.modal-content
{
  margin-top: 100px;
}

.img_modal
  {
    display: inline-block;
  }
.p_modal
  {
      margin-top: 10px;
}
.modal-body
{
    text-align: center
}
html {
  text-align: center;
}